name: Criar release e zip

on:
  workflow_dispatch:
    inputs:
      versao: # Entrada que o usuário deve preencher ao executar
        description: 'Digite a versão (ex: 1.0.0)' # Texto que aparece no campo
        required: true # Torna o campo obrigatório
        default: '1.0.0' # valor padrao

permissions:
  contents: write

jobs:
  first-jobs:
    runs-on: ubuntu-latest
    steps:
      - name: Baixar código do repositório
        uses: actions/checkout@v4 # Baixa o código do repositório atual para a máquina de execução

      - name: Mostrar versão informada
        run: echo "A versão informada foi ${{ github.event.inputs.versao }}"
         # Exibe no log a versão que o usuário digitou

      - name: Criar arquivo ZIP
        run: |
          zip -r repo-${{ github.event.inputs.versao }}.zip .

         # Compacta todo o conteúdo do repositório em um arquivo .zip
        # O nome do arquivo será, por exemplo: repo-1.0.0.zip

      - name: Criar release e enviar ZIP
        uses: ncipollo/release-action@v1 # Ação que cria uma release automaticamente no GitHub
        with:
          tag: v${{ github.event.inputs.versao }}  # Cria uma tag
          files: repo-${{ github.event.inputs.versao }}.zip # Anexa o arquivo .zip na release
